{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Many thanks to John Elder's 'Create A Simple Blog With Python
and Django' project - a great reference, inspiration and example:
https://www.youtube.com/watch?v=J7xaESAddDQ -->
<div class="container">
    <div class="col card mb-4 mt-3 left top">
        <h3>Update Your Post</h3>
    </div>
</div>
<!-- Make sure only logged in superuser can edit it -->
{% if user.is_authenticated and user.is_superuser %}

<div class="row p-4 p-md-5 mb-4 rounded">
    <h4>Edit: <strong>{{ post.title }}</strong></h4>
    <div class="col-md-8 px-0">
        <form method="POST" novalidate>
            {% csrf_token %}

            {{ form|crispy }}

            <button type="submit" class="btn btn-warning">Update</button>
            <a class="btn btn-primary" href="{% url 'home' %}" role="button">Back Home</a>
        </form>
    </div>
</div>

{% else %}

<!-- if not an admin, tell user to login as one to update post -->
<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">
        <h3>Login</h3>
        <p>Please <a class="link" href="{% url 'account_login' %}">login</a> as an admin to update this post.</p>
    </div>
</div>

{% endif %}

{% endblock %}